{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": { 
    "node": true
  },
  "rules": {
    "no-const-assign": "error",
    "newline-before-return": "error",
    "semi":"error",
    "no-unreachable": "error",
    "no-extra-semi": "error",
    "no-unexpected-multiline": "error",
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
} 